.tabs {
  list-style: none;
  padding: 0;
  overflow: hidden;
}
.tab {
  display: block;
  float: left;
  padding: 10px;
}
.tab.active {
  position: relative;
  border: 2px solid rgba(0,0,0,.2);
  border-bottom: none;
  border-radius: 4px 4px 0px 0px;
}
.tab.active::after,
.tab.active::before {
  display: block;
  content: '';
  position: absolute;
  bottom: 0;
  height: 0px;
  width: 999em;
  border-bottom: 2px solid rgba(0,0,0,.2);
  pointer-events: none;
}
.tab.active::before {
  right: 100%;
  margin-right: 2px;
}
.tab.active::after {
  left: 100%;
  margin-left: 2px;
}

/* clearfix */
/* striped background */
body {
  font-family: sans-serif;
  background: hsl(70, 100%, 40%);
  background-image: linear-gradient(45deg, hsla(0, 100%, 100%, .2) 25%, transparent 25%, transparent 50%, hsla(0, 100%, 100%, .2) 50%, hsla(0, 100%, 100%, .2) 75%, transparent 75%, transparent);
  background-size: 50px 50px;
  color: rgba(0,0,0,.6)
}
a {
  color: inherit;
  text-decoration: none;
}