<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>music-analysis</display-name>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
    

    <servlet>
        <servlet-name>central</servlet-name>
        <servlet-class>org.music.analysis.central</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>db_test</servlet-name>
        <servlet-class>org.music.analysis.controller.db_test</servlet-class>
    </servlet>

    <servlet>
    	<servlet-name>sql</servlet-name>
    	<servlet-class>JDBCExample</servlet-class>
    </servlet>

    <servlet>
    	<description>
    	</description>
    	<display-name>info_singers</display-name>
    	<servlet-name>info_singers</servlet-name>
    	<servlet-class>org.music.analysis.controller.info_singers</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>info_songs</display-name>
    	<servlet-name>info_songs</servlet-name>
    	<servlet-class>org.music.analysis.controller.info_songs</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>info_singer</display-name>
    	<servlet-name>info_singer</servlet-name>
    	<servlet-class>org.music.analysis.controller.info_singer</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>info_song</display-name>
    	<servlet-name>info_song</servlet-name>
    	<servlet-class>org.music.analysis.controller.info_song</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>central</servlet-name>
        <url-pattern>/central</url-pattern>
    </servlet-mapping>
      
    <servlet-mapping>
         <servlet-name>db_test</servlet-name>
         <url-pattern>/db_test</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
         <servlet-name>sql</servlet-name>
         <url-pattern>/sql</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
    	<servlet-name>info_singers</servlet-name>
    	<url-pattern></url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>info_songs</servlet-name>
    	<url-pattern>/info_songs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>info_singer</servlet-name>
    	<url-pattern>/info_singer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>info_song</servlet-name>
    	<url-pattern>/info_song</url-pattern>
    </servlet-mapping>

    </web-app>
